[submodule "Thomas/vendor/spdlog"]
	path = Thomas/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Thomas/vendor/imgui"]
	path = Thomas/vendor/imgui
	url = https://github.com/derrickwzb/imgui
[submodule "Thomas/vendor/glfw"]
	path = Thomas/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Thomas/vendor/stb"]
	path = Thomas/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Thomas/vendor/rapidjson"]
	path = Thomas/vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Thomas/vendor/ImGuizmo"]
	path = Thomas/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
